.homePage {
  padding-bottom: 50px;

  .featuredArticles {}

  .latestArticles {
    margin-top: 60px;
  }

  .categories {
    margin-top: 60px;

    .categoryTitle {
      font-size: 1.2rem;
      font-weight: 400;
      padding-left: 20px;
      margin-top: 25px;
    }
  }

  a {
    font-weight: 600 !important;
    transition-duration: .2s !important;
  }

  .categories-wrapper {
    display: flex;
    flex-wrap: wrap;

    div {
      width: 400px;
    }

    li {
      font-size: 16px;
    }
  }

  ul, ol {
    li {
      margin-bottom: 2px;
    }
  }
}

.contactsPage {
  a {
    color: inherit;
    text-decoration: none;
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    border-bottom: 1px solid #e0d6eb;
    box-shadow: inset 0 -2px 0px 0px #e0d6eb;
    font-family: Futura PT,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    font-weight: bold;
  
    &:hover {
      background: #e0d6eb;
    }
  }
}

.homePage {
  a {
    color: inherit;
    text-decoration: none;
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    // border-bottom: 1px solid #e0d6eb;
    // box-shadow: inset 0 -2px 0px 0px #e0d6eb;
    font-family: Futura PT,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    font-weight: bold;
    padding-right: 7px;
  
    &:hover {
      background: rgba(224,214,235, 0.8);
    }
  }
}