@import '../../common';

#home {    

  .profile {
    padding: 57px 50px 15px 50px;
    background-color: #FFF;
    margin-top: 20px;

    .row {
      margin-bottom: 0;
    }
  }

  .profile-photo {
    margin-right: 10%;
    margin-bottom: 10px;

    img {
      width: 100%;
      display: block;
    }
  }

  .profile-info {
    color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;

    .profile-preword {
      margin-bottom: 28px;

      span {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        display: inline-block;
        padding: 7px 12px;
        text-transform: uppercase;
        position: relative;
        background-color: $violet;

        &:before {
          content: '';
          left: 5px;
          top: 101%;
          position: absolute;
          width: 0;  
          height: 0; 
          border-top: 1px solid $violet;
          border-bottom: 8px solid $white;
          border-left: 8px solid $violet;
          background-color: $violet;
        }
      }
    }
  }

  .profile-title {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;

    span {
      font-weight: 300;
    }
  }

  .profile-position {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .profile-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 13px;
    }

    .title {
      display: block;
      width: 120px;
      float: left;
      color: #333333;
      font-size: 12px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }

    .cont {
      display: block;
      margin-left: 125px;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      color: #9da0a7;
    }
  }
}
